body{

  background-color: lightgrey;
  background-position: center;

}

header{
  height: 250px;
}

.image{
  margin-top: 3em;
  margin-left: 35em;
  border: solid 3px;
}

.doctor{

  margin-left: 35em;
}

h2 {
  margin-top: 3em;
  margin-left: 15em;
  font-family: Gloria Hallelujah;
  text-align: center;
  text-shadow: 6px;
  font-family: fantasy;
  font-weight: bolder;
  font-size: 28px;
}
